.DS_Store
app/config/parameters.yml
app/*\.cache
app/SymfonyRequirements.php
app/cache/*
app/logs/*
web/bundles/*
web/info.php
vendor/*
_chef/tmp
.vagrant
.idea
/nbproject
/composer.phar
/app/bootstrap.php.cache