{#
    Choose base layout:

        - {% extends 'KnpRadBundle:Layout:h5bp.html.twig' %} - HTML5Boilerplate
        - {% extends 'KnpRadBundle:Layout:tb.html.twig' %} - Twitter Bootstrap

    This template is only a configuration layer.
    Use `src/App/Resources/layout.html.twig` as your
    app-related layout.
#}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        {% block headers %}{% endblock headers %}
        {% block stylesheets %}{% endblock stylesheets %}
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <h2>Mclowd Markretplace</h2>


         {% if  app.session.flashbag.count() > 0 %}
            <section id="flash-messages">
            {% for type, flashMessages in app.session.flashbag.all() %}
                {% for flashMessage in flashMessages %}
                    <div class="flash-{{ type }}">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            {% endfor %}
            </section>
        {% endif %}

        {% block content %}{% endblock content %}

        {% block javascripts %}{% endblock javascripts %}
    </body>
</html>
