{% extends '::base.html.twig' %}

{% block content %}

<form action="{{ path('app_jobs_create') }}" method="POST">
    {{ form_widget(form) }}

    <input type="submit" value="Create Job" /> 

</form>

{% endblock %}