body.wait, body.wait * {cursor: wait !important;}

#search-query {
    text-align: center;
}

#search-button {
    margin-bottom: 10px;
}

#search-sidebar {
    float:left;
    width:200px;    
}

#search-content {
    float:left;
    width:700px; 
    margin-left: 20px;   
}

/* proposal form styles */

ul.milestones-inputs-list {
	margin-left: 0px;
}

	ul.milestones-inputs-list li {
	    list-style-type: none;
	    margin-bottom: 5px;
	}