<ul class="nav">
    <li><a href="http://www.mclowd.com/what-is-mclowd/" title="About Mclowd Platform" style="padding-right: 17.5px; padding-left: 17.5px;">What Is Mclowd?</a></li>
    <li class="active"><a href="http://www.mclowd.com/smsf-accountants-bookeepers-dataentry-marketplace/" title="The Mclowd Marketplace" style="padding-right: 14.5px; padding-left: 14.5px;">The Mclowd Marketplace</a></li>
    <li><a href="http://www.mclowd.com/help/" title="Find Mclowd help articles" style="padding-right: 17.5px; padding-left: 17.5px;">Help</a></li>
    <li><a href="http://www.mclowd.com/smsf-free-fund-management-keep-informed/" title="Stay up to date" style="padding-right: 17.5px; padding-left: 17.5px;">Keep Me Informed</a></li>
    <li><a href="http://www.mclowd.com/smsf-free-fund-management-blog/" title="Recent blog posts" style="padding-right: 17.5px; padding-left: 17.5px;">Blog</a></li>
</ul>