<div class="sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">Find Work</li>
        <li class="divider"></li>
        <li class="active"><a href="#">View all tasks</a></li>
        <li class="divider"></li>
        <li><a href="#">Detailed search</a></li>
    </ul>

    <ul class="nav nav-list">
        <li class="nav-header">Hire a contractor</li>
        <li class="divider"></li>
        <li class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                        Search by service
                    </a>
                </div>
                <ul id="collapseOne" class="accordion-body collapse" role="menu">
                    <li><a href="#">Accountants</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Audit</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Bookkeepers</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Broking</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Concierge</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Data Entry</a></li>
                    <li class="divider"></li>
                </ul>
            </div>
        </li>
        <li><a href="#">Detailed search</a></li>
        <li class="divider"></li>
        <li><a href="#">Post a task</a></li>
    </ul>

    <ul class="nav nav-list">
        <li><a href="#">Support</a></li>
        <li class="divider"></li>
        <li><a href="#">Marketplace FAQ's</a></li>
    </ul>

    {% if app.user %}
        {# Display something for authenticated user #}
    {% else %}
        <form class="log-in-form" action="{{ path('fos_user_security_check') }}" method="POST">
            <h4>Log in to Mclowd Marcketplace</h4>
            <input type="text" id="username" name="_username" required="required" placeholder="email address"/>
            <input type="password" id="password" name="_password" required="required" placeholder="password"/>
            <label class="checkbox">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> remember me
            </label>
            <p>Already using Mclowd?</p>
            <p>Please use your log in details.</p>
            <a class="small" href="#">Forgotten your log in details?</a>
            <div class="button-wrapper">
                <button type="submit" class="special-button-gray-with-arrow">Sign up to the Marketplace</button>
            </div>
        </form>
        <br />
        <br />
        {{ facebook_login_button() }}
    {% endif %}
</div><!-- /sidebar-nav -->