{% extends '::base.html.twig' %}

{% block content %}

<form action="{{ path('app_tasks_create') }}" method="POST">
    {{ form_widget(form) }}

    <input type="submit" value="Create Job" /> 

</form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {% javascripts
        '@App/Resources/public/js/tasks.js.coffee'        
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
{% endblock %}
