{% extends '::base.html.twig' %}

{% block content %}

<h3>{{ task.name }}</h3>

<p>{{ task.description }}</p>

<p>User: {{ task.user.username }}</p>

<a href="{{ path('app_proposals_new', {'task': task.id }) }}">Make Proposal</a>

{% endblock %}